.ShoppingCartButton{
    display:box;
    height: 15%;
    width: 10%;
    align-items: center;
    justify-content: center;
    z-index:100;
    margin:20px;
    position:absolute;
    right:0%;
}
.ShoppingCartImg{
    width: 100%;
    height:100%;
}
.itemcount{
    margin-left: 23%;
}