.homepagecontainer{
    display:flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-content: center;
    
}
.titleholder{
    display:flex;
}
.title{
text-align: center;
font-size:300%;
font-family: sans-serif;
display: flex;
align-items: center;
justify-content: center;
padding:20px;
}
.iframe{
background-color: white;
}
.bottomcontainer{
display:flex;
font-size:120%;
font-family: sans-serif;
}
.about{
    margin-top:3%;
    width:50%;
    height:50%;
    text-align:center;
    
}
.giphy{
    display:flex;
    
    margin-left: auto;
  margin-right: auto;
  width: 25%;
  
}